@page "/categorias"
@inherits ObterTodasCategoriasPage

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h4" Class="mb-4">Categorias</MudText>
    <div class="d-flex justify-end mb-4">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.TwoTone.Add"
                   Href="/categorias/adicionar">
            NOVA CATEGORIA
        </MudButton>
    </div>
    <MudPaper Class="pa-4" Elevation="2">
        <MudTable Items="@Categorias" Dense="true" Hover="true" FixedHeader="true" Class="mb-4">
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Categoria</MudTh>
                <MudTh align="right">Ações</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Categoria">@context.Nome</MudTd>
                <MudTd align="right">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Id, context.Nome)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudPaper>
</MudContainer>
